version: "3.9"

services:
  ubuntu-valgrind:
    container_name: webserv
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000-10000:8000-10000"
    volumes:
      - ./:/app
    stdin_open: true
    tty: true
